.custom-select {
    position: relative;
    font-family: Arial;
}

.select-selected {
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 2px solid rgba(59,80,99,1);
  /*box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);*/
  animation-duration: .1ms;
  animation-name: mui-node-inserted;
  font-weight: 500;
  transition: all .2s ease-in-out;
  display: inline-block;
  height: 70px;
  padding: 17px 5px;
  border-radius: 18px;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  /* white-space: nowrap; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .03em;
  position: relative;
  overflow: hidden;
}

.select-items {
    overflow: auto;
}
.select-items {
    position: absolute;
    background-color: rgba(223, 231, 237, 1);
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    margin: 0 auto;
    max-height: 440px;
    overflow: scroll;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.select-items div {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    height: 70px;
    padding-top: 24px;
    text-align: left;
    padding-left: 20px;
}

.select-items div, .select-selected {
    width: 100%;
    color: #000;
    animation-duration: .1ms;
    animation-name: mui-node-inserted;
    font-weight: 500;
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 70px;
    padding: 17px 5px;
    border-radius: 18px;
    cursor: pointer;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    /* white-space: nowrap; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .03em;
    position: relative;
}
