.rounded.confirmation-tab {
    border-radius: 25px !important;
}
.success-icon {
  width: 70px;
  height: 70px;
  background: #7bc47f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
}
.success-icon i {
  color: white;
  font-size: 32px;
}
.confirmation-tab .fw-bold {
    font-size: 23px;
    font-weight: 400 !important;
}
.col-12.confirmation {
    margin-top: 25%;
}
button#view-bookings-btn {
    background-color: rgba(128, 159, 184, 1);
    width: 100%;
    height: 75px;
    border: none;
    text-decoration: none;
    box-shadow: none;
    color: white;
    font-size: 20px;
    border-radius: 18px;
    font-weight: 600;
    display: block;
    padding: 20px;
}