.trip-heading {
    display: flex;
}

.activity-section .container {
    max-width: 100%;
}

span.network_name {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
    color: rgba(53, 80, 101, 1);
}