.trip-heading {
    display: flex;
}

.activity-section .container {
    max-width: 100%;
}

span.network_name {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
    color: rgba(53, 80, 101, 1);
}

.scrollable-container {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.activity-img {
  border-radius: 8px;
  overflow: hidden;
}

.activity-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.placeholder {
  width: 189px;
    height: 250px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}