.bottom-navigation.container {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 350px;
    z-index: 999;
}

.left-btn button {
    width: 100%;
    height: 75px;
    border-radius: 10px;
    background-color: rgba(223, 231, 237, 1);
    font-size: 20px;
    border: 0;
    color: #3b5064;
}

.right-btn button {
    width: 100%;
    height: 75px;
    border-radius: 10px;
    background-color: rgba(128, 159, 184, 1);
    font-size: 20px;
    color: white;
}