.rounded.guest-box {
    padding-bottom: 73px !important;
    border-radius: 25px !important;
}

input:disabled {
    transition: background-image 0.2s ease-in-out;
    opacity: 0.5;
    color: #000;
    padding: 6px 12px;
}
.new-guest-info-div input {
    height: 55px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(223, 231, 237, 1);
}
button#another-btn {
    width: 100%;
    height: 85px;
    border-radius: 10px;
    background-color: rgba(128, 159, 184, 1);
    font-size: 25px;
    color: white;
    border: 0;
}
