.activity-left-card {
    height: 600px;
    overflow-y: auto;
    border-radius: 10px !important;
}

.activity-right-card {
    height: 585px;
    margin-left: 10px;
    padding: 30px !important;
    overflow-y: auto;
}

.activity-section {
    padding-bottom: 80px;
}

.nabar-tabs-section ul li .nav-link {
    color: rgba(53, 80, 101, 1) !important;
}

.tab-content {
    text-align: left;
    padding: 0px 10px;
}

.activity-photo-tab img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 25px;
}

.nabar-tabs-section .tab-content .tab-pane {
    font-weight: normal !important;
    padding-left: 0px !important;
}

.nabar-tabs-section .active {
    color: #000 !important;
}

.network-logo-tab {
    margin-bottom: 20px;
    font-weight: 500;
}

.network-logo-tab img {
    width: 100px;
    height: auto;
}

.network-logo-tab span {
    margin-left: 8px;
}
/* LEFT CARD */

.activity-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT CARD */
.activity-right-card {
    height: 585px;
    padding: 25px;
    border-radius: 12px;
}

/* Pricing section */
.pricing-details-section {
    font-size: 16px;
}

.section-date, .time-slot, .group-size {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}

.section-name {
    font-weight: 600;
    font-size: 15px;
}

.section-price {
    font-weight: 700;
    font-size: 16px;
}

/* Other info */
.other-information {
    margin-top: 15px;
}

.other-information div {
    margin-top: 8px;
    font-size: 14px;
}

.mt-4.add-cart-button {
    margin-top: 7rem !important;
}

.add-cart-button button {
    background-color: rgba(128, 159, 184, 1);
    height: 85px;
    width: 100%;
    border: none;
    text-decoration: none;
    box-shadow: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 18px;
    padding-right: 30px;
    font-weight: 600;
    text-transform: none;
}