.background-img {
  opacity: 0.195;
  mix-blend-mode: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: visible;
}

.background-img img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: -110px;
  z-index: 40;
}